h1 {
    color: #666;
    font-size: 64px;
    margin: 0px;
}

h2 {
    float: none;
    font-style: italic;
    font-size: 24px;
    font-weight: light;
    margin: 60px 0px 10px 0px;
    color: #999;
}

h3 {
    float: none;
    margin: 40px 0px -10px 0px;
}

tr {
    line-height: 28px;
}

td:first-child {
    color: #333;
    width: 380px;
}

td {
    color: #666;
}

ul {
    margin: 0;
    padding: 4px;
    line-height: 26px;
    list-style-type: none;
}

.item-content {
    margin: 100px;
    width: 560px;
}

body {
    color: #333;
}

.menu-info {
    margin-top: 100px;
    color: #999;
    font-size: 18px;
    font-style: italic;
}
